@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html {
    font-family: 'Baloo 2', cursive;
    -webkit-font-smoothing: antialiased;
}

#img img{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: auto;
    max-width: 100%;
}

.sidebar {
    background: rgb(48, 25, 252);
    height: 90%;
    width: 290px;
    position: absolute;
    z-index: 999;
    transition: 800ms ease;
    transform: translateX(-290px);

    ul{
        padding: 40px;
        li{
            list-style: none;
            margin-bottom: 10px;
            font-size: 1.3rem;
            color: #FFFFFF;
            a{
                text-decoration: none;
                font-size: 1.3rem;
                color: #FFFFFF;
            }
            &:nth-child(1){
                margin-bottom: 20px;
            }
        }
    }
}

.close {
    background: rgb(48, 25, 252);
    height: 100%;
    position: absolute;
    z-index: 999;
    width: 290px;
    transform: translateX(0px);
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    color: #FFFFFF;

    img {
        width: 4%;
        margin: 15px;
        color: #FFFFFF;
    }
}

.container {
    border-radius: 80px 80px 0 0;
    width: 100%;
    flex-direction: column;

    .mostrar::before{
        content: '';
        background: url(../images/quote.svg);
        background-size: contain;
        width: 50px;
        display: block;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    // .mostrar::after{
    //     content: '';
    //     background: url(../images/quote.svg);
    //     background-size: contain;
    //     width: 50px;
    //     display: block;
    //     height: 50px;
    //  }
    
    .title,.frases,.bt {
        display: flex;
        justify-content: center;
    }

    .frases {
        
        margin: 20px 20px;
        padding: 20px;
        height: 17rem;
    }

    .frases h2{
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        color: #FFFFFF;
    }
    
    .bt > button {
        padding: 15px 90px;
        border: none;
        border-radius: 51px;
        background: #0800DE;
        box-shadow: 29px 29px 59px #0600ab, -29px -29px 59px #0a00ff;
        font-size: 1.5rem;
        color: #F1C54D;
        outline: none;
        font-family: 'Baloo 2', cursive;
        font-weight: 700;
        cursor: pointer;
        box-sizing: border-box;

        &:active {
            border-radius: 51px;
            background: #0800DE;
            box-shadow: inset 29px 29px 59px #0600ab, 
            inset -29px -29px 59px #0a00ff;
            outline: none;
        }
    }
}